{{#if resume.skills.length}}
<section id="skills">
  {{!-- <h2>Skills</h2> --}}
  {{#each resume.skills}}
  <div class="horizontal-description">
    {{#if name}}
    <div class="name">
      {{name}}
    </div>
    {{/if}}
    {{#if keywords.length}}
    <div class="keywords">
      {{#each keywords}}
      {{this}}{{#if @last}}{{else}},{{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}