body {
  background: #fff;
  font: 15px Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
p {
  line-height: 1.4;
}
ul {
  margin-bottom: 0;
}
section {
  margin-top: 2em;
}
blockquote {
  margin: 0;
  margin-bottom: 1em;
}
.item {
  margin-top: 1.5em;
}
#resume {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 20px;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 20pt;
  margin: 0 auto;
}
h2 {
  font-size: 15pt;
  line-height: 1.2;
  margin: 0 auto;
}
section h2 {
  margin-top: 2em;
  margin-bottom: 0;
}
section h3 {
  font-size: 12pt;
  margin: 0;
}

.divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

/* HORIZONTAL DESCRIPTION LISTS (skills, languages, experience.categories) */

.horizontal-description {
  margin-top: 0.4em;
  font-size: 10pt;
}
.horizontal-description .name {
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1em 0 0;
}
.horizontal-description .keywords {
  display: inline-block;
  width: auto;
  vertical-align: top;
}
#skills .horizontal-description .name {
  width: 18%;
}
#experience .horizontal-description .name {
  width: 10%;
}
#experience .horizontal-description {
  margin-top: 0.2em;
}
#experience .horizontal-description-container {
  margin-left: 20px;
  margin-top: 0.5em;
}

#skills,
#basics {
  margin-top: 1em;
}
#languages .fluency {
  font-style: italic;
}

#education h2,
#interests h2 {
  margin-bottom: 0;
}

/* VERTICAL DESCRIPTION LISTS (education, projects, interests, certificates) */

.vertical-description {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.5em;
  width: 49%;
}
.vertical-description heading {
  font-size: 11pt;
  font-weight: bold;
  text-transform: uppercase;
}
.vertical-description ul {
  margin-top: 0.25em;
  padding-left: 1em;
}
#education .vertical-description {
  min-width: 45%;
  max-width: 54%;
  width: auto;
}
#education .courses {
  columns: 2;
}

/* LISTS (work, experience) */

#experience .position {
  display: inline-block;
  margin-right: 10px;
}
.item .location {
  display: inline;
  font-style: italic;
}
.item .highlights,
.item .summary {
  margin-top: 0.5em;
}
